@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --selected: #fff200;
  --text-color: #777;
  --white: #fff;
  --dark-text: #1c2042;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  background-color: var(--white);
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 10px;
  padding: 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.btn {
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f39200;
    border: 2px solid #f39200;
    padding: 0.8rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-item {
  width: 80%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-item {
  padding: 0.8rem 1.5rem;
  font-size: 1.25rem;
}